@using Joy_Template.Wizard_2._0

@model Joy_Template.Wizard_2._0.WizardViewModel


<div class="container">
    <div class="d-flex justify-content-evenly fs-24 mb-3 row">
        @foreach(var headerInfo in Model.WizardHeader) {
            @if (headerInfo.Number == Model.CurrentStep) {
                <div class="col bg-primary border p-1">
                    <h5 class="text-center">@headerInfo.Name</h5>
                </div>
            } else {
                <div class="col border p-1">
                    <h5 class="text-center">@headerInfo.Name</h5>
                </div>
            }
        }
    </div>
    <div>
        <form asp-action="Index">
            @if(Model.WizardStep.Errors.Length > 0) {
                <ul class="text-danger">
                    @foreach(var error in Model.WizardStep.Errors) {
                        <li>@error.Name: @error.ErrorMessage</li>
                    }
                </ul>
            }
            @Html.Raw(Model.WizardStep.RenderHtml)
            <input type="hidden" name="wizardModel" value="@Model.NextWizardFormModel" />
            @if(Model.CurrentStep == Model.WizardHeader.Length) {
                <input type="submit" value="Submit" class="btn btn-success btn-sm" />
            } else {
                <input type="submit" value="Next" class="btn btn-primary btn-sm" />
            }
        </form>
        @if(Model.CurrentStep != 1) {
            <form asp-action="Index">
                <input type="hidden" name="wizardModel" value="@Model.BackWizardFormModel"/>
                <input type="submit" value="Back" class="btn btn-secondary btn-sm" />
            </form>
        }
        
    </div>
</div>
